.bg {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/gitgraphpro.appspot.com/o/bg.jpg?alt=media&token=53a7fef6-85bf-4d44-996d-3562c2259bf4');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  align-content: center;
}

.signin {
  background-color: white;
  width: 300px;
  margin-left: 100px;
  align-self: center;
  border-radius: 10px;
}

.fetch {
  background-color: #98C67B;
  width: 300px;
  height: 70px;
  align-self: flex-end;
  margin-top: 70px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}