.grid {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

.box {
    margin: auto;
}

.card {
    padding: 50px;
    width: 400px;
    background-color: #ffffff;
    transition: 0.5s;
    margin: 30px;
    border-radius: 8px;
}

.card:hover {
    background-color: #bee5f5;
    transition: 0.5s;
}